# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# IDE directories
.vscode/
.idea/

# Go workspace file
go.work
go.work.sum

# Local environment settings
.env

# Log files
*.log

# Directories for dependencies
vendor/

# Others
.DS_Store

